@model MVC_VideoGames.Models.VideoGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VideoGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMultiplayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMultiplayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<h4>Reviews</h4>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.UserName</td>
                <td>@review.Date</td>
                <td>@review.Content</td>
            </tr>
        }
    </tbody>
</table>

<h4>Add a Review</h4>
<form asp-action="AddReview" asp-route-videoGameId="@Model.Id" method="post">
    <div class="form-group">
        <label for="UserName">User Name:</label>
        <input type="text" class="form-control" id="UserName" name="UserName" required>
    </div>
    <div class="form-group">
        <label for="Content">Review:</label>
        <textarea class="form-control" id="Content" name="Content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
